form(action="/board", method="post") 
    input(type="hidden", name="subject", value="1")

    div
        input(type="text", name="title" placeholder="제목을 입력해주세요." required
            value=board? board.title : "") 
    div
        input(type="textarea", name="contents" placeholder="내용을 입력해주세요." required
            value=board? board.contents : "")

    div
        if title == undefined
            button(type="submit" name="method" value="POST") 작성
        else
            button(type="submit" name="method" value="PUT") 수정
        
