div.header-bar-wrap 
    div.header-display-desktop
        ul
            li
                a.header-title(href="/") Home
            li
                a(href="https://github.com/hwang-jy" target="_blank") github
            li 
                include ../auth/login_status.pug
            


